<% layout("/layouts/boilerplate.ejs") -%>

    <div class="row mt-2 ">
        <div class="col-8 offset-2">
            <form action="/listings" method="POST" novalidate class="needs-validation">
                <h3>Create new Listing</h3>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a catchy title..." class="form-control" required>
                    <div class="valid-feedback">Title Looks good!</div>
                    <div class="invalid-feedback">Please enter the Title</div>
                </div>
                <div class="mb-3">
                    <label for="description"class="form-label" >Description</label>
                    <textarea type="text" name="listing[description]"  class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="listing[image][url]" placeholder="image" type="text" class="form-control" placeholder="enter image-url-link">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input  name="listing[price]" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8 " >
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="loaction" class="form-label">Loaction</label>
                    <input type="text" name="listing[location]" placeholder="Pune,Maharashtra" class="form-control" required>
                    <div class="invalid-feedback"> Location should be valid</div>
                </div>
                
                <button class="btn btn-dark add-btn mb-3">Add</button>
                <br><br>
            </form>
        </div>
    
</div>

